.menus {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.active-option {
    background-color: #93969a;
}

.menus>div {
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 4px;
}

.menus>div:hover {
    background-color: #93969a;
}

.menus .material-icons,
.menus .fas {
    font-size: 18px;
}

@media (max-width: 900px) {
    .menus{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7rem , auto));
        gap: 20px;
        height: auto;
        width: 100%;
    }
}